
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/site_layout.cshtml";
}

<section>
    <div class="container art-history">
        <h1 class="text-center" >ABOUT US</h1>
        <div class="row">
            <div class=" col-8 offset-2  art-history-content">
                
                <h3 style="text-align:center; color:#788954"> OUR STORY</h3>
                <p>
                    Since 2013, Muhammad, alongside his fellow artists Saima, Alishba Ahad, and Ammar,
                    embarked on an artistic evolution marked by versatility and exploration across a diverse array
                    of mediums. Beginning with drawings, Saima laid the foundation for her artistic expression,
                    honing her skills in capturing form, texture, and emotion through traditional methods. As their
                    creative vision expanded, they delved into the realm of photography, discovering new ways to
                    interpret the world around them through the lens, capturing moments both mundane and
                    extraordinary with a keen eye for composition and lighting. <br>

                    Embracing the digital age, they ventured into digital art, harnessing technology to push the
                    boundaries of their creativity, experimenting with digital tools and techniques to create pieces
                    that blend the analog and the virtual seamlessly. This transition allowed them to explore a
                    realm of endless possibilities, where imagination knows no bounds. <br>

                    Prints became a means of sharing their creations with a wider audience, allowing their art to
                    transcend physical boundaries and reach people across the globe. Through prints, their work
                    became accessible to admirers and collectors alike, sparking connections and conversations
                    beyond the confines of galleries and exhibitions. <br>

                </p>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="list_1 text-center clearfix">
                <div class="col-sm-12">
                    <h2 class="mgt">ART EVOL</h2>
                </div>
            </div>
            <div class="example_h_1 clearfix">
                <div class="col-sm-4">
                    <div class="example_h_1l text-center clearfix">
                        <!-- <span><i class="fa fa-book"></i></span> -->
                        <h3>
                            Adaptability
                        </h3>
                        <hr>
                        <p>
                            Adaptability in art refers to the capacity to adjust to changing circumstances, whether
                            it's evolving trends, new technologies, or personal growth. It involves being open to
                            learning, willing to embrace new ideas, and responsive to feedback or critique. An
                            adaptable artist can navigate different artistic environments and challenges, remaining
                            flexible in their approach while staying true to their creative vision.





                        </p>
                        <h4><a href="#" class="button">Learn More</a></h4>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="example_h_1l text-center clearfix">
                        <!-- <span><i class="fa fa-joomla"></i></span> -->
                        <h3>Exploration</h3>
                        <hr>
                        <p>
                            Exploration in art involves a spirit of curiosity and adventure, where artists seek to
                            discover new techniques, themes, or concepts. It involves stepping outside of one's
                            comfort zone, experimenting with unconventional methods, and embracing the unknown.
                            Through exploration, artists push the boundaries of their creativity, uncovering new
                            possibilities and insights that enrich their artistic practice.

                        </p>
                        <h4><a href="#" class="button">Learn More</a></h4>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="example_h_1l text-center clearfix">
                        <!-- <span><i class="fa fa-flask"></i></span> -->
                        <h3>Versatility</h3>
                        <hr>
                        <p>
                            This refers to the ability to adapt and excel across various mediums, styles, and
                            techniques within the realm of art. An artist who embodies versatility can work with
                            different materials, genres, and forms of expression, demonstrating a wide range of
                            skills and capabilities. Versatility allows an artist to explore diverse creative
                            avenues and adapt their approach to suit different projects or artistic challenges.

                        </p>
                        <h4><a href="#" class="button">Learn More</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="team_pg">
    <div class="container">
        <div class="row">
            <div class="list_1 text-center clearfix">
                <div class="col-sm-12">
                    <h2 class="mgt">Our Team</h2>
                </div>
            </div>
            <div class="team_home clearfix">
                <div class="col-sm-3">
                    <div class="team_homei text-center">
                        
                        <div class="team_homeii">
                            <h4><a href="#">Dapibus Diam</a></h4>
                            <h5>Artist</h5>
                            <ul class="social-network social-circle">
                                <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                <li>
                                    <a href="#" class="icoFacebook" title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="icoGoogle" title="Google +">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoLinkedin" title="Linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team_homei text-center">
                        
                        <div class="team_homeii">
                            <h4><a href="#">Nibh Elementum </a></h4>
                            <h5>Main Lead</h5>
                            <ul class="social-network social-circle">
                                <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                <li>
                                    <a href="#" class="icoFacebook" title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="icoGoogle" title="Google +">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoLinkedin" title="Linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team_homei text-center">
                       
                        <div class="team_homeii">
                            <h4><a href="#">Sagittis John</a></h4>
                            <h5>Photographer</h5>
                            <ul class="social-network social-circle">
                                <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                <li>
                                    <a href="#" class="icoFacebook" title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="icoGoogle" title="Google +">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoLinkedin" title="Linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team_homei text-center">
                       
                        <div class="team_homeii">
                            <h4><a href="#">Augue Semper</a></h4>
                            <h5>Portraits Artist</h5>
                            <ul class="social-network social-circle">
                                <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                <li>
                                    <a href="#" class="icoFacebook" title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="icoGoogle" title="Google +">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icoLinkedin" title="Linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="connect" class="clearfix">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 space_all">
                <div class="connect_1 clearfix">
                    <div class="col-sm-3 connect_1m">
                        <div class="connect_1l clearfix">
                            <span><i class="fa fa-truck"></i></span>
                        </div>
                        <div class="connect_1r clearfix">
                            <h4>Free Shipping</h4>
                            <p>Free shipping world wide</p>
                        </div>
                    </div>
                    <div class="col-sm-3 connect_1m">
                        <div class="connect_1l clearfix">
                            <span><i class="fa fa-headphones"></i></span>
                        </div>
                        <div class="connect_1r clearfix">
                            <h4>Support 24/7</h4>
                            <p>Contact us 24 hours </p>
                        </div>
                    </div>
                    <div class="col-sm-3 connect_1m">
                        <div class="connect_1l clearfix">
                            <span><i class="fa fa-credit-card"></i></span>
                        </div>
                        <div class="connect_1r clearfix">
                            <h4>Secure Payments</h4>
                            <p>100% payment protection</p>
                        </div>
                    </div>
                    <div class="col-sm-3 connect_1m border_none">
                        <div class="connect_1l clearfix">
                            <span><i class="fa fa-shopping-cart"></i></span>
                        </div>
                        <div class="connect_1r clearfix">
                            <h4>Easy Return</h4>
                            <p>Simple returns policy</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

